<ion-header>
    <ion-toolbar>
      <ion-title>
        Nearby
        <ion-icon name="funnel" style="float: right;"></ion-icon>
      </ion-title>
    </ion-toolbar>
    <ion-toolbar class="toolbar toolbar-md" no-border-top="">
      <div class="toolbar-content toolbar-content-md">
        <ion-segment color="danger" class="segment segment-md segment-md-danger ng-valid ng-touched ng-dirty">
          <ion-segment-button class="segment-button segment-activated" role="button" tappable="" value="all"
            aria-pressed="true">
            All
            <div class="button-effect">
            </div>
          </ion-segment-button>
          <ion-segment-button class="segment-button" role="button" tappable="" value="foods" aria-pressed="false">
            Foods
            <div class="button-effect">
            </div>
          </ion-segment-button>
          <ion-segment-button class="segment-button" role="button" tappable="" value="music" aria-pressed="false">
            Music
            <div class="button-effect">
            </div>
          </ion-segment-button>
          <ion-segment-button class="segment-button" role="button" tappable="" value="drinks" aria-pressed="false">
            Drinks
            <div class="button-effect">
            </div>
          </ion-segment-button>
          <!-- <ion-segment-button class="segment-button" role="button" tappable="" value="activity" aria-pressed="false">
            Activity
            <div class="button-effect">
            </div>
          </ion-segment-button> -->
        </ion-segment>
      </div>
    </ion-toolbar>
  </ion-header>
  
  