.btn{
    background-color: white;
    float: right;
    font-size: 16px;
    color: red;
    padding-top: 4px;
    
}

.label{
    font-size: 14px;
    padding: 30;
}

.toolbar-content{
    border: 2px;
    border-color: gray;    
}

.icons {
    background-color: #fff;
    border: 1px solid #7f8c8d;
    color: #7f8c8d;
    margin: 0;
    font-size: 0.9em;
}

ion-content{
    padding-top: 30;
}

ion-col{
    color:rgb(102, 99, 99);
}
  